* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Outfit", sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--Light-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 90%;
    height: auto;
    background-color: var(--white);
    border-radius: 16px;
    max-width: 300px;
}

.wrapper div {
    width: 100%;
    padding: 15px;
}

.wrapper div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 13px;
}

h1 {
    font-weight: 700;
    padding: 10px 30px;
    font-size: 1.3rem;
    text-align: center;
    color: var(--Dark-blue);
}

p {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 30px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--Grayish-blue);
}